<div class="login-container">
  <div class="input-container">
    <input type="text" placeholder="Username" [(ngModel)]="username" class="login-input">
  </div>
  <div class="input-container">
    <input [type]="passwordFieldType" placeholder="Password" [(ngModel)]="password" class="login-input">
    <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
      <i [class]="passwordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
    </button>
  </div>
  <button (click)="login()" class="login-button">Login</button>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <div class="register-link">
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </div>
</div>
