<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>User Management Dashboard</h1>
    <button (click)="logout()" class="logout-button">Logout</button>
  </header>
  <section class="user-list">
    <h2>Users</h2>
    <ul>
      <ng-container *ngFor="let user of users">
      <li *ngIf="user.role != 'Admin'">
        <span>{{ user.username }} ({{ user.role }})</span>
        <select *ngIf="isAdmin" [(ngModel)]="user.role" class="role-select">
          <option value="Worker">Worker</option>
          <option value="Supervisor">Supervisor</option>
          <!-- <option value="Admin">Admin</option> -->
        </select>
        <button *ngIf="isAdmin" (click)="updateUserRole(user.username, user.role)" class="update-role-button">Update Role</button>
        <button *ngIf="isAdmin" (click)="removeUser(user.username)" class="remove-user-button">Remove</button>
      </li>
    </ng-container>
    </ul>
  </section>
  <section class="add-user" *ngIf="isAdmin">
    <h2>Add New User</h2>
    <div class="input-container">
      <input type="text" placeholder="Username" [(ngModel)]="newUser.username">
    </div>
    <div class="input-container">
      <input type="password" placeholder="Password" [(ngModel)]="newUser.password">
    </div>
    <div class="input-container">
      <select [(ngModel)]="newUser.role">
        <option value="Worker">Worker</option>
        <option value="Supervisor">Supervisor</option>
        <!-- <option value="Admin">Admin</option> -->
      </select>
    </div>
    <button (click)="addUser()">Add User</button>
  </section>
</div>
