<div class="register-container">
    <h2>Register</h2>
    <div class="input-container">
      <input type="text" placeholder="Username" [(ngModel)]="username">
    </div>
    <div class="input-container">
      <input type="password" placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="input-container">
      <select [(ngModel)]="role">
        <option value="Worker">Worker</option>
        <option value="Supervisor">Supervisor</option>
        <!-- <option value="Admin">Admin</option> -->
      </select>
    </div>
    <button (click)="register()">Register</button>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  