/* src/app/register/register.component.css */
.register-container {
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container input,
  .input-container select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  p {
    color: red;
    font-size: 14px;
  }
  